{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier/react",
    "prettier"
  ],
  "plugins": ["react", "jsx-a11y", "import", "prettier", "@typescript-eslint", "react-hooks"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "jsx": true
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "no-undef": 0,
        "no-unused-vars": 0,
        "@typescript-eslint/no-unused-vars": 2,
        "react/jsx-filename-extension": [
          2,
          {
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          }
        ]
      }
    },
    {
      "files": ["**/*.jsx"],
      "parserOptions": {
        "ecmaFeatures": { "jsx": true }
      }
    }
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-else-return": 1,
    "no-tabs": 1,
    "no-console": "off",
    "comma-dangle": ["error", "always-multiline"],
    "no-mixed-spaces-and-tabs": 2,
    "no-prototype-builtins": 1,
    "no-unused-vars": 1,
    "no-async-promise-executor": 1,
    "no-useless-catch": 1,
    "import/no-default-export": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/newline-after-import": "error",
    "import/extensions": "off",
    "function-paren-newline": "off",
    "func-names": "off",
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "no-underscore-dangle": ["error", { "allow": ["__typename"] }],
    "no-param-reassign": ["error", { "props": false }],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 1 }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "arrow-spacing": "error",
    "react/destructuring-assignment": ["warn", "always"],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-one-expression-per-line": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  }
}
